@import "reset";
;
@mixin flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: 'RobotoCondensedL';
    src: url('../fonts/RobotoCondensed-Light.ttf');
}

@font-face {
    font-family: 'RobotoCondensedB';
    src: url('../fonts/RobotoCondensed-Bold.ttf');
}

html {
    font-family: 'RobotoCondensed';
}

header {
    background-color: #dedee1;
    .menu {
        @include flex;
        justify-content: center;
        align-items: center;
        nav {
            ul {
                li {
                    display: inline-block;
                    margin: 15px 0;
                    margin-right: 30px;
                    a {
                        color: #313030;
                        font-size: 24px;
                        padding: 5px;
                        &:hover {
                            background-color: #fdc903;
                        }
                    }
                }
            }
        }
    }
}

.logo {
    @include flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    h1 {
        text-transform: uppercase;
        font-size: 60px;
        span {
            font-size: 35px;
            color: #fdc903;
        }
    }
    img {
        margin-bottom: 15px;
    }
}

.slider {
    @include flex;
    height: 500px;
    width: 100%;
    align-items: center;
    .prew {
        position: absolute;
        left: 0%;
        color: #fff;
        padding: 10px 25px;
        font-size: 33px;
        background: rgba(25, 25, 25, .6);
        &:hover {
            background: #fdc903;
        }
    }
    .next {
        @extend .prew;
        left: calc(100% - 65px);
    }
    img {
        height: 500px;
        width: 100%;
    }
}

.oferts {
    @include flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .box {
        @include flex;
        flex-wrap: wrap;
        height: 200px;
        width: 270px;
        background-color: #e5e5e7;
        margin: 60px 10px;
        padding: 15px;
        img {
            height: 70px;
            width: 70px;
        }
        h2 {
            font-size: 36px;
            margin-left: 15px;
            span {
                color: #fdc903;
            }
        }
        p {
            font-size: 14px;
        }
    }
}

.order {
    background-color: #fdc903;
    .phone {
        @include flex;
        padding: 30px;
        justify-content: center;
        align-items: center;
        img {
            width: 130px;
        }
        .call {
            @include flex;
            flex-direction: column;
            color: #fff;
            font-size: 36px;
            margin: 0 50px;
            a {
                font-size: 36px;
                color: #fff;
                text-transform: uppercase;
                margin-left: 55px;
            }
            img {
                width: 40px;
            }
            .call-phone {
                @include flex;
                flex-direction: row;
            }
        }
    }
}